uiautomation>=2.0.18
keyboard>=0.13.5
pystray>=0.19.5
Pillow>=10.0.0
pywin32>=306
winrt-Windows.Foundation>=3.2.1
winrt-Windows.Foundation.Collections>=3.2.1
winrt-Windows.Globalization>=3.2.1
winrt-Windows.Media.Ocr>=3.2.1
winrt-Windows.Graphics.Imaging>=3.2.1
winrt-Windows.Storage.Streams>=3.2.1
pyinstaller>=6.0.0

